Hydromet Python Classes

Intro to Python

This is a text cell in a Google Colab notebook.

In [ ]:
This is a code cell in a Google Colab notebook. #this will not run as a script.

Let's write your first program in python.

In [ ]:
print('hello world') #this is a comment about the code. Your first program will print hello world to the screen.

hello world

In [ ]:
help(print) #this command shows you the documentation for the print function

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

Data Types: Numbers

In [14]:
5

5

In [8]:
type(5)

int

In [18]:
3.5
type(3.5)

float

In [19]:
2 + 3j
type(2 + 3j)

complex

Python as a calculator

In [22]:
5 + 3
2 + 4
1000.3435353 - 0.0003434

1000.3431919

Try out other operators
+
-
*
/
**
%
==
<
>
<=
>=
!=
and
or
not
+=
-=
*=
/=
%=
**=
//=

We start to reaise that we would like to store variables for later calculations. So we need to declare a variable and python saves that to memory.

Declaring Variables

In [13]:
a = 6
type(a)

int

In [10]:
print(a)

6

In [12]:
b = 7.8
type(b)

float

In [11]:
print(b)

7.8

Now we can combine variables and operators to create expressions.

In [ ]:
c = a + b
c #or print(c)

13.8

In [ ]:
year = 2016
event = 'Referendum'

print()
print('Results of the', year, event)
f'Results of the {year} {event}'

'Results of the 2016 Referendum'

Data Types: Strings

In [2]:
'hello'

'hello'

In [5]:
print('Hello')
foo = 'my name is Joe'
print(foo)

Hello
my name is Joe

In [6]:
foo = 'what's your name?' #this will cause an error because of the single quote in "what's"
foo = "what's your name?" #this will work because of the double quotes
print(foo)

SyntaxError: unterminated string literal (detected at line 1) (ipython-input-2274941191.py, line 1)

In [7]:
"""this is a multi-line comment
that spans multiple lines
to explain something about the code below
"""
bar = '''This is a string that uses
triple single quotes to span
multiple lines.'''
print(bar)

This is a string that uses
triple single quotes to span
multiple lines.

Data Structures

Lists - a sequence of items (values). The items in it could belong to any of data type and could be of different data type in the same list.

In [ ]:
a = [1,2,3,4,5] #a list of integers
b = ['one','two','three','four','five'] #a list of strings
c = [1, 'two', 3.0, 'four', 5] #a list with mixed data types      
d = []  #an empty list

The items in a list are accessed using the indices.